SERVER_PORT=8080
DB_USER_NAME="sa"
DB_PASSWORD=""
DB_NAME="Bank"
DB_SERVER_HOST="localhost"



BCRYPT_SALT_ROUNDS = 10,
JWT_ACCESS_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRY="1h"
ALLOWED_CORS_ORIGIN="http://localhost:5173"
PROJECT_CURRENT_STATUS="DEVELOPMENT"

EMAIL_MODE_ISSERVICE=true
EMAIL_SERVER_SERVICE_NAME="gmail"
EMAIL_SERVER_HOST_NAME="gmail"
EMAIL_SERVER_HOST_PORT="gmail"
EMAIL_AUTH_USERNAME=""
EMAIL_AUTH_PASSWORD=""